# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
NODE_ENV
POSTGRES_URL
POSTGRES_PRISMA_URL
POSTGRES_URL_NO_SSL
POSTGRES_URL_NON_POOLING
POSTGRES_USER
POSTGRES_HOST
POSTGRES_PASSWORD
POSTGRES_DATABASE
NEXT_PUBLIC_PROJECT_ID
NEXT_PUBLIC_POSTHOG_KEY
NEXT_PUBLIC_POSTHOG_HOST
NEXTAUTH_SECRET
NEYNAR_API_KEY
NEXT_PUBLIC_NEYNAR_CLIENT_ID
PINATA_JWT
NEXT_PUBLIC_GATEWAY_URL
NEXT_PUBLIC_ROOT_TAG_ID
YOUTUBE_API_KEY
APP_URL
NEXT_PUBLIC_PINATA_GATEWAY
# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"
